<!-- TOP NAV -->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">

      <!-- Nombre del sitio -->
      <ul class="title left">
        <li><i class="large material-icons">insert_chart</i></li>
        <li><a routerLink="/usuarios">CNA</a></li>
      </ul>

      <!-- Información del usuario -->
      <ul class="right">
         <li><a materialize="dropdown" class='dropdown-button left'  data-activates='dropdown1'>{{nombreCompleto}}<i class="material-icons right">arrow_drop_down</i></a></li>
         <ul id='dropdown1' class='dropdown-content'>
           <li><a (click)='cerrarSesion()'>Cerrar sesión</a></li>
         </ul>
       </ul>

      <!-- Toogle navside -->
      <a id="toogle_menu" href="javascrip:void(0)" data-activates="slide-out" class="hide-on-large-only"><i class="material-icons">menu</i></a>

    </div>
  </nav>
</div>
<!-- /TOP NAV -->

<router-outlet></router-outlet>
