<!-- Side nav -->
<ul id="slide-out" class="side-nav fixed">
  <li class="active">
    <a routerLink="/donantes">Donantes</a>
  </li>

</ul>
<!-- /Side nav -->

<!-- Espacio para los componentes -->
<div class="component">
  <div>
    <h5 class="center-align">Donaciones</h5>
  </div>
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card-panel"  *ngIf="donacion; else elseDonacion">
        <div class="row">
          <h5 class="col l10 offset-l1 s12">Programas destinados a la donación de ${{donacion.monto}} de {{donacion.persona.nombre}} {{donacion.persona.apellido}}</h5>
        </div>

        <div class="row">
          <table class="col s12 l6 offset-l3 m8 offset-m2">
            <thead>
              <th>Programa</th>
              <th>Monto</th>
            </thead>
            <tbody>
              <tr *ngFor="let salida of donacion.salidas">
                <td>{{salida.programa}}</td>
                <td>{{salida.monto}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>Disponible</td>
                <td>${{sobrante}}</td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="row" *ngIf="sobrante>0">
          <div class="center">
            <button type="submit" class="btn waves-effect waves-green" (click)="openSalida()">Agregar nueva salida</button>
          </div>
        </div>
      </div>
      <!-- /card-panel -->

      <!-- Mensaje de espera -->
      <ng-template #elseDonacion>
        <div class="row">
          <div class="col s8 m8 offset-s2 offset-m2">
            <p>Cargando...</p>
            <div class="progress">
              <div class="indeterminate"></div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <!-- /col -->
  </div>
  <!-- row -->
</div>

<!-- Ventana modal para agregar salida de donación -->
<div class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalSalida">
  <div class="modal-content">
    <h5>Registrar salida de donación</h5>
    <br>

    <form autocomplete="off" #salidaForm="ngForm" (ngSubmit)="salida(salidaForm)">
      <!-- Programa -->
      <div class="row">
        <label>Programa</label>
        <select class="browser-default" name="programa" [(ngModel)]="nuevaSalida.idPrograma" required>
          <option *ngFor="let programa of programas" [value]="programa.id">{{programa.nombre}}</option>
        </select>
      </div>

      <!-- Cantidad -->
      <div class="input-field">
        <input id="cantidad" name="cantidad" type="number" id="cantidad" class="validate" min="0" [(ngModel)]="nuevaSalida.monto" required>
        <label for="cantidad" data-error="Valor mayor a 0">Cantidad</label>
        <div class="red-text text-accent-4">{{error}}</div>
      </div>
      <div class="row">
        <div class="center">
          <button type="submit" class="btn waves-effect waves-green">Guardar</button>
        </div>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn-flat" (click)="closeSalida()">Cerrar</a>
  </div>
</div>
