<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel">

      <form autocomplete="off" #nuevoUsuarioForm="ngForm" (ngSubmit)="crear()">
        <h6 class="center">Información personal</h6>
        <!-- Nombre completo -->
        <div class="row">
          <div class="input-field col l4 offset-l2 m6 s12">
            <input id="nombre" name="nombre" type="text" class="validate" [(ngModel)]="persona.nombre" required>
            <label for="nombre">Nombre</label>
          </div>
          <div class="input-field col l4 m6 s12">
            <input id="apellido" name="apellido" type="text" class="validate" [(ngModel)]="persona.apellido" required>
            <label for="apellido">Apellido</label>
          </div>
        </div>
        <!-- Información -->
        <div class="row">
          <!-- DUI -->
          <div class="input-field col l2 offset-l2 m4 s12">
            <input id="dui" name="dui" type="text" class="validate" pattern="^[\d]{9}$" [(ngModel)]="persona.dui" required>
            <label for="dui" data-error="Ingrese 9 dígitos sin guión">DUI</label>
          </div>
          <!-- NIT -->
          <div class="input-field col l2 m4 s12">
            <input id="nit" name="nit" type="text" class="validate" pattern="^[\d]{14}$" [(ngModel)]="persona.nit" required>
            <label for="nit" data-error="Ingrese 14 dígitos sin guiones">NIT</label>
          </div>
          <!-- Sexo -->
          <div class="input-field col l2 m4 s12">
            <select materialize="material_select" name="sexos" id="sexo" (change)="selectSexo()" required>
              <option *ngFor="let sexo of sexos" [value]="sexo.id">{{sexo.nombre}}</option>
            </select>
            <label>Sexo</label>
          </div>
          <!-- Estado civil -->
          <div class="input-field col l2 m4 s12">
            <select materialize="material_select" name="estados" id="estado" (change)="selectEstadoCiv()" required>
              <option *ngFor="let estadoCiv of estadosCiv" [value]="estadoCiv.id">{{estadoCiv.nombre}}</option>
            </select>
            <label>Estado civil</label>
          </div>
          <!-- Telefono -->
          <div class="input-field col l2 offset-l2 m4 s12">
            <input id="telefono" name="telefono" type="text" class="validate" pattern="^[\d]{8}$" [(ngModel)]="persona.telefono" required>
            <label for="telefono" data-error="Ingrese 8 dígitos sin guión">Teléfono</label>
          </div>
          <!-- Dirección -->
          <div class="input-field col l6 m4 s12">
            <input id="direccion" name="direccion" type="text" class="validate" [(ngModel)]="persona.direccion" required>
            <label for="direccion">Dirección</label>
          </div>
        </div>

        <h6 class="center">Información de usuario</h6>
        <!-- Datos de usuario -->
        <div class="row">
          <!-- Correo -->
          <div class="input-field col l4 offset-l4 m4 offset-m4 s12">
            <input id="usuario" type="email" class="validate" name="correo" email [(ngModel)]="usuario.correo" required>
            <label for="usuario" data-error="Ingrese un correo válido">Correo</label>
          </div>
          <!-- Puesto -->
          <div class="input-field col l4 offset-l4 m4 offset-m4 s12">
            <select materialize="material_select" name="roles" id="rol" (change)="selectRol()" required>
              <option *ngFor="let rol of roles" [value]="rol.id">{{rol.nombre}}</option>
            </select>
            <label>Puesto</label>
          </div>
          <!-- Contraseña -->
          <div class="input-field col l4 offset-l4 m4 offset-m4 s12">
            <input id="contra" type="password" class="validate" name="contra" [(ngModel)]="usuario.contra" required>
            <label for="contra">Contraseña</label>
          </div>
        </div>

        <div class="row">
          <div class="center">
            <button type="submit" class="btn waves-effect waves-green" [disabled]="!nuevoUsuarioForm.form.valid">Guardar</button>
            <button type="button" class="btn waves-effect waves-green" (click)="openCancel()">Cancelar</button>
          </div>
        </div>
      </form>
      <br>
      <!-- Mensajes --><
      <div class="row">
        <div class="red-text col s6 offset-s3" *ngIf="mensajeError">
          <p>{{mensajeError}}</p>
        </div>
        <div class="green-text col s6 offset-s3" *ngIf="mensajeCreacion">
          <p>Creando usuario ...</p>
        </div>
      </div>
    </div>
    <!-- /card-panel -->
  </div>
  <!-- /col -->
</div>
<!-- row -->

<!-- Ventana modal para asegurar la acción de cancelar -->
<div id="modal" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalCancel">
  <div class="modal-content">
    <h4>Confirmar operación</h4>
    <p>¿Desea cancelar el ingreso de usuarios?</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeCancel()">No</a>
    <a class="modal-action modal-close waves-effect btn-flat" (click)="cancel()">Sí</a>
  </div>
</div>
