<div class="row" *ngIf="usuario; else elseUsuario">
  <div class="col s12 m12 l12">
    <div class="card-panel">
      <div *ngIf="!edicion">
        <div class="row">
          <h6><strong>{{persona.nombre}} {{persona.apellido}}</strong></h6>
          <h6><strong>Puesto: </strong> {{usuario.rol.nombre}}</h6>
        </div>

        <!-- Información personal   -->
        <div class="row">
          <div class="col s12 m3 offset-m1 l2 offset-l1">
            <strong>DUI: </strong><span>{{persona.dui}}</span>
          </div>
          <div class="col s12 m4 l2">
            <strong>NIT: </strong><span>{{persona.nit}}</span>
          </div>
          <div class="col s12 m4 l2">
            <strong>Teléfono: </strong><span>{{persona.telefono}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m10 offset-m1">
            <strong>Dirección: </strong><span>{{persona.direccion}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m10 offset-m1">
            <strong>Correo electrónico: </strong><span>{{usuario.correo}}</span>
          </div>
        </div>
      </div>

      <div *ngIf="edicion">
        <form autocomplete="off" #editarUsuarioForm="ngForm" (ngSubmit)="editar()">
          <h6 class="center">Información personal</h6>
          <!-- Nombre completo -->
          <div class="row">
            <div class="input-field col l4 offset-l2 m6 s12">
              <input id="nombre" name="nombre" type="text" class="validate" [(ngModel)]="persona.nombre" required>
              <label class="active" for="nombre">Nombre</label>
            </div>
            <div class="input-field col l4 m6 s12">
              <input id="apellido" name="apellido" type="text" class="validate" [(ngModel)]="persona.apellido" required>
              <label class="active" for="apellido">Apellido</label>
            </div>
          </div>
          <!-- Información -->
          <div class="row">
            <!-- Telefono -->
            <div class="input-field col l2 offset-l2 m4 s12">
              <input id="telefono" name="telefono" type="text" class="validate" pattern="^[\d]{8}$" [(ngModel)]="persona.telefono" required>
              <label class="active" for="telefono" data-error="Ingrese 8 dígitos sin guión">Teléfono</label>
            </div>
            <!-- Dirección -->
            <div class="input-field col l6 m4 s12">
              <input id="direccion" name="direccion" type="text" class="validate" [(ngModel)]="persona.direccion" required>
              <label class="active" for="direccion">Dirección</label>
            </div>
          </div>

          <h6 class="center">Información de usuario</h6>
          <!-- Datos de usuario -->
          <div class="row">
            <!-- Correo -->
            <div class="input-field col l4 offset-l4 m4 offset-m4 s12">
              <input id="usuario" type="email" class="validate" name="correo" email [(ngModel)]="usuario.correo" required>
              <label class="active" for="usuario" data-error="Ingrese un correo válido">Correo</label>
            </div>
            <!-- Contraseña -->
            <div class="input-field col l4 offset-l4 m4 offset-m4 s12">
              <input id="contra" type="password" class="validate" name="contra" [(ngModel)]="usuario.contra" required>
              <label class="active" for="contra">Contraseña</label>
            </div>
          </div>

          <div class="row">
            <div class="center">
              <button type="submit" class="btn waves-effect waves-green">Modificar</button>
              <button type="button" class="btn waves-effect waves-green" (click)="cancelar()">Cancelar</button>
            </div>
          </div>
        </form>
        <br>
        <!-- Mensajes -->
        <div class="row">
          <div class="red-text col s6 offset-s3" *ngIf="mensajeError">
            <p>{{mensajeError}}</p>
          </div>
          <div class="green-text col s6 offset-s3" *ngIf="mensajeCreacion">
            <p>Creando usuario ...</p>
          </div>
        </div>

      </div>

      <div *ngIf="!edicion" class="row">
        <div class="center">
          <button type="submit" class="btn waves-effect waves-green" (click)="habilitar()">Editar</button>
        </div>
      </div>
    </div>
    <!-- /card-panel-->

  </div>
  <!-- /col -->
</div>
<!-- row -->

<!-- Mensaje de espera -->
<ng-template #elseUsuario>
  <div class="row">
    <div class="col s8 m8 offset-s2 offset-m2">
      <p>Cargando...</p>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
  </div>
</ng-template>
