<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel">
      <table class="row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Correo electrónico</th>
            <th>Puesto</th>
          </tr>
        </thead>
        <tbody>
          <!-- Mensaje de carga -->
          <div>
            <p><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>Cargando datos...</p>
          </div>
          <tr *ngFor="let usuario of usuarios">
            <td><a [routerLink]="'/usuarios/'+usuario.id">{{usuario.persona.nombre}} {{usuario.persona.apellido}}</a></td>
            <td>{{usuario.correo}}</td>
            <td>{{usuario.rol.nombre}}</td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="center">
          <a class="btn waves-effect waves-green" routerLink="/usuarios/nuevo">Nuevo</a>
        </div>
      </div>
    </div>
    <!-- /card-panel -->
  </div>
  <!-- /col -->
</div>
<!-- row -->
