<!-- Side nav -->
<ul id="slide-out" class="side-nav fixed">
  <li class="active">
    <a routerLink="/usuarios">Usuarios</a>
  </li>
  <li>
    <a routerLink="/programas">Programas</a>
  </li>
</ul>
<!-- /Side nav -->

<!-- Espacio para los componentes -->
<div class="component">
  <div>
    <h5 class="center-align">Usuarios</h5>
  </div>
  <router-outlet></router-outlet>
</div>
