<br>
<div class="row">
  <div class="col s12 l8 offset-l2">
    <div class="card-panel">
      <h4>Inicio de sesión</h4>

      <!-- Formulario -->
      <form #loginForm="ngForm" (ngSubmit)="logueo()">
        <div class="row">
          <!-- Correo -->
          <div class="input-field col s12 l8 offset-l2">
            <input id="usuario" type="email" class="validate" name="correo" [(ngModel)]="model.correo" email required>
            <label for="usuario" data-error="Ingrese un correo válido">Correo</label>
          </div>
          <!-- Contraseña -->
          <div class="input-field col s12 l8 offset-l2">
            <input id="contra" type="password" class="validate" name="contra" [(ngModel)]="model.contra" required>
            <label for="contra">Contraseña</label>
          </div>
        </div>

        <!-- Botón -->
        <div class="row">
          <div class="center">
            <button type="submit" class="btn waves-effect waves-light" [disabled]="!loginForm.form.valid">Iniciar sesión</button>
          </div>
        </div>
      </form>
      <!-- /form -->

      <!-- Mensajes -->
      <div class="row">
        <div class="alert alert-danger col s6 offset-s3" *ngIf="errorMessage">
          <p>{{errorMessage}}</p>
        </div>
        <div class="alert alert-info col s6 offset-s3" *ngIf="message">
          <p>{{message}}</p>
        </div>
      </div>

    </div>
    <!-- /card-panel -->
  </div>
  <!-- /col -->
</div>
<!-- /row -->
