<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel">
      <div class="row">
        <div class="col m8 offset-m2">
          <table class="row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th>Programa</th>
                <th>Fecha de actualización</th>
                <th>Duración</th>
              </tr>
            </thead>
            <tbody>
              <!-- Mensaje de carga -->
              <div>
                <p><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>Cargando datos...</p>
              </div>
              <tr *ngFor="let programa of programas">
                <td><a [routerLink]="'/programas/'+programa.id">{{programa.nombre}}</a></td>
                <td>{{programa.fechaInicio | date:"dd/MM/y"}}</td>
                <td>{{programa.duracion}} meses</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <!-- /card-panel -->
  </div>
  <!-- /col -->
</div>
<!-- row -->
