<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel" *ngIf="programa; else elsePrograma">
      <div class="row">
        <div class="col offset-m1 s12 ">
          <h4>{{programa.nombre}}</h4>
        </div>
      </div>

      <div class="row">
        <div class="col l2 offset-l2 m3 s12"><strong> Fecha de inicio: </strong>{{programa.fechaInicio | date: "dd/MM/y"}}</div>
        <div class="col l2 offset-l1 m3 s12"><strong>Duración: </strong>{{programa.duracion}} meses</div>
      </div>

      <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
          <ul class="collection with-header">
            <li class="collection-header"><strong>TALLERES</strong></li>
            <li class="collection-item" *ngFor="let taller of programa.talleres">
              <div>{{taller.nombre}}
                <a class="secondary-content" (click)="openEdition(taller)"><i class="material-icons">edit</i></a>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="center">
          <button type="submit" class="btn waves-effect waves-green" (click)="openNew()">Agregar taller</button>
        </div>
      </div>
    </div>
    <!-- /card-panel -->

    <!-- Mensaje de espera -->
    <ng-template #elsePrograma>
      <div class="row">
        <div class="col s8 m8 offset-s2 offset-m2">
          <p>Cargando...</p>
          <div class="progress">
            <div class="indeterminate"></div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <!-- /col -->
</div>
<!-- row -->

<!-- Ventana modal para actualizar taller -->
<div class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalTallerEdit">
  <div class="modal-content">
    <h5>Modificar taller</h5>
    <br>

    <form autocomplete="off" #tallerForm="ngForm" (ngSubmit)="modificarTaller(tallerForm)">
      <!-- Nombre -->
      <div class="row">
        <p><strong>Nombre del taller</strong></p>
        <div class="input-field">
          <input id="nombre" name="nombre" type="text" class="validate" [(ngModel)]="tallerEdit.nombre" required>
        </div>
      </div>

      <div class="row">
        <div class="center">
          <button type="submit" class="btn waves-effect waves-green">Guardar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn-flat" (click)="closeEdition()">Cerrar</a>
  </div>
</div>

<!-- Ventana modal para crear taller -->
<div class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalTaller">
  <div class="modal-content">
    <h5>Nuevo taller</h5>
    <br>

    <form autocomplete="off" #tallerForm="ngForm" (ngSubmit)="crearTaller(tallerForm)">
      <!-- Nombre -->
      <div class="row">
        <p><strong>Nombre del taller</strong></p>
        <div class="input-field">
          <input id="nombre" name="nombre" type="text" class="validate" [(ngModel)]="nombre" required>
        </div>
      </div>

      <div class="row">
        <div class="center">
          <button type="submit" class="btn waves-effect waves-green">Guardar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn-flat" (click)="closeNew()">Cerrar</a>
  </div>
</div>
