<!-- Side nav -->
<ul id="slide-out" class="side-nav fixed">
  <li>
    <a routerLink="/donantes">Donantes</a>
  </li>
</ul>
<!-- /Side nav -->

<!-- Espacio para los componentes -->
<div class="component">
<br>
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <h1>Ciudad de la Niñez y Adolescencia</h1>
      </div>
      <!-- /card-panel -->
    </div>
    <!-- /col -->
  </div>
  <!-- row -->

</div>
