<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel">
      <form autocomplete="off" #nuevoDonanteForm="ngForm" (ngSubmit)="crear()">

        <h6 class="center">Información del representante</h6>
        <!-- Nombre completo -->
        <div class="row">
          <div class="input-field col l4 offset-l2 m6 s12">
            <input id="nombre" name="nombre" type="text" class="validate" [(ngModel)]="donante.nombre" required>
            <label for="nombre">Nombre</label>
          </div>
          <div class="input-field col l4 m6 s12">
            <input id="apellido" name="apellido" type="text" class="validate" [(ngModel)]="donante.apellido" required>
            <label for="apellido">Apellido</label>
          </div>
        </div>
        <!-- Dui y NIT -->
        <div class="row">
          <!-- DUI -->
          <div class="input-field col l4 offset-l2 m6 s12">
            <input id="dui" name="dui" type="text" class="validate" pattern="^[\d]{9}$" [(ngModel)]="donante.dui" required>
            <label for="dui" data-error="Ingrese 9 dígitos sin guión">DUI</label>
          </div>
          <!-- NIT -->
          <div class="input-field col l4 m6 s12">
            <input id="nit" name="nit" type="text" class="validate" pattern="^[\d]{14}$" [(ngModel)]="donante.nit" required>
            <label for="nit" data-error="Ingrese 14 dígitos sin guiones">NIT</label>
          </div>
        </div>
        <!-- Teléfono, cargo y correo -->
        <div class="row">
          <!-- Telefono -->
          <div class="input-field col l2 offset-l2 m4 s12">
            <input id="telefono" name="telefono" type="text" class="validate" pattern="^[\d]{8}$" [(ngModel)]="donante.telefono" required>
            <label for="telefono" data-error="Ingrese 8 dígitos sin guión">Teléfono</label>
          </div>
          <!-- Cargo -->
          <div class="input-field col l2 m4 s12">
            <input id="cargo" name="cargo" type="text" class="validate" [(ngModel)]="donante.cargo" required>
            <label for="cargo">Cargo</label>
          </div>
          <!-- Correo -->
          <div class="input-field col l4 m4 offset-m4 s12">
            <input id="usuario" type="email" class="validate" name="correo" email [(ngModel)]="donante.correo" required>
            <label for="usuario" data-error="Ingrese un correo válido">Correo</label>
          </div>
        </div>

        <h6 class="center">Información de la institución</h6>
        <!-- Datos de la institución -->
        <div class="row">
          <!-- Institución -->
          <div class="input-field col l5 offset-l1 m6 s12">
            <input id="nombreI" name="nombreI" type="text"cargo class="validate" [(ngModel)]="institucion.nombre" required>
            <label for="nombreI">Nombre de Institucion</label>
          </div>
          <!-- Dirección -->
          <div class="input-field col l5 m6 s12">
            <input id="direccionI" name="direccionI" type="text"cargo class="validate" [(ngModel)]="institucion.direccion" required>
            <label for="direccionI">Dirección</label>
          </div>
        </div>
        <div class="row">
          <!-- Correo -->
          <div class="input-field col l5 offset-l1 m4 offset-m4 s12">
            <input id="correo" type="email" class="validate" name="correo" email [(ngModel)]="institucion.correo" required>
            <label for="correo" data-error="Ingrese un correo válido">Correo</label>
          </div>
          <!-- tipo -->
          <div class="input-field col l5 m6 s12">
            <input id="tipo" name="tipo" type="text"cargo class="validate" [(ngModel)]="institucion.tipo" required>
            <label for="tipo">tipo</label>
          </div>
        </div>

        <div class="row">
          <div class="center">
            <button type="submit" class="btn waves-effect waves-green">Guardar</button>
            <button type="button" class="btn waves-effect waves-green" (click)="openCancel()">Cancelar</button>
          </div>
        </div>
      </form>

      <!-- Mensajes -->
      <div class="row">
        <div class="alert alert-danger col s6 offset-s3" *ngIf="mensajeError">
          <p>{{mensajeError}}</p>
        </div>
        <div class="center " *ngIf="mensajeCreacion">
          <p>Creando donante...</p>
        </div>
      </div>

    </div>
    <!-- /card-panel -->
  </div>
  <!-- /col -->
</div>
<!-- row -->

<!-- Ventana modal para asegurar la acción de cancelar -->
<div id="modal" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalCancel">
  <div class="modal-content">
    <h4>Confirmar operación</h4>
    <p>¿Desea cancelar el ingreso de usuarios?</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeCancel()">No</a>
    <a class="modal-action modal-close waves-effect btn-flat" (click)="cancel()">Sí</a>
  </div>
</div>
