<div *ngIf="donante; else elseDonante">
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <div *ngIf="!edicion">
          <div class="row">
            <h6><strong>{{donante.nombre}} {{donante.apellido}}</strong></h6>
            <h6><strong>Cargo: </strong> {{donante.cargo}}</h6>
          </div>

          <!-- Información personal   -->
          <div class="row">
            <div class="col s12 m3 offset-m1 l2 offset-l1">
              <strong>DUI: </strong><span>{{donante.dui}}</span>
            </div>
            <div class="col s12 m4 l2">
              <strong>NIT: </strong><span>{{donante.nit}}</span>
            </div>
            <div class="col s12 m4 l2">
              <strong>Teléfono: </strong><span>{{donante.telefono}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m10 offset-m1">
              <strong>Estado de donante: </strong><span>{{donante.estado}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m10 offset-m1">
              <strong>Correo electrónico: </strong><span>{{donante.correo}}</span>
            </div>
          </div>

          <div *ngIf="donante.institucion.nombre">
            <div class="row">
              <div class="col s4 m3 offset-m1">
                <strong>Nombre de institución: </strong><span>{{donante.institucion.nombre}}</span>
              </div>
              <div class="col s2 m4 offset-m1">
                <strong>Direccion de institución: </strong><span>{{donante.institucion.direccion}}</span>
              </div>

              <div class="col s3 m3 offset-m1">
                <strong>Correo de institución: </strong><span>{{donante.institucion.correo}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m10 offset-m1">
                <strong>Tipo de institución: </strong><span>{{donante.institucion.tipo}}</span>
              </div>
            </div>
          </div>

        </div>

        <div *ngIf="edicion">
          <form autocomplete="off" #editarDonanteForm="ngForm" (ngSubmit)="editar()">
            <h6 class="center">Información de donante</h6>
            <!-- Nombre completo -->
            <div class="row">
              <div class="input-field col l4 offset-l2 m6 s12">
                <input id="nombre" name="nombre" type="text" class="validate" [(ngModel)]="donante.nombre" required>
                <label class="active" for="nombre">Nombre</label>
              </div>
              <div class="input-field col l4 m6 s12">
                <input id="apellido" name="apellido" type="text" class="validate" [(ngModel)]="donante.apellido" required>
                <label class="active" for="apellido">Apellido</label>
              </div>
            </div>
            <!-- Información -->
            <div class="row">
              <!-- Telefono -->
              <div class="input-field col l2 offset-l2 m4 s12">
                <input id="telefono" name="telefono" type="text" class="validate active" pattern="^[\d]{8}$" [(ngModel)]="donante.telefono" required>
                <label class="active" for="telefono" data-error="Ingrese 8 dígitos sin guión">Teléfono</label>
              </div>
              <!-- Estado -->
              <div class="input-field col l2 m4 s12">
                <input id="estado" name="estado" type="text" class="validate" [(ngModel)]="donante.estado" required>
                <label class="active" for="estado">Estado de donante</label>
              </div>
              <!-- Correo -->
              <div class="input-field col l4 m4 s12">
                <input id="correo" name="correo" type="text" class="validate" [(ngModel)]="donante.correo" required>
                <label class="active" for="correo">Correo de donante</label>
              </div>
            </div>

            <h6 class="center">Información de Institucion</h6>
            <!-- Datos de institucion -->
            <div class="row">
              <!-- nombre -->
              <div class="input-field col l4 offset-l4 m4 offset-m4 s12">
                <input id="nombreI" type="text" class="validate" name="nombreI" [(ngModel)]="donante.institucion.nombre" required>
                <label class="active" for="nombreI" data-error="Ingrese un nombre de institucion valido">Nombre</label>
              </div>
              <!-- Dirección  -->
              <div class="input-field col 6 offset-l4 m4 offset-m4 s12">
                <input id="direccionI" type="text" class="validate" name="direccion" [(ngModel)]="donante.institucion.direccion" required>
                <label class="active" for="direccionI">Direccion</label>
              </div>
              <!-- <div class="input-field col 3  m4 offset-m4 s4">
                <input id="tipoI" type="text" class="validate" name="tipo" [(ngModel)]="donante.institucion.tipo" required>
                <label class="active" for="tipoI">Tipo de institucion</label>
              </div> -->
              <div class="input-field col 3  m4 offset-m4 s4">
                <input id="correoI" type="text" name="tipo" [(ngModel)]="donante.institucion.correo">
                <label class="active" for="correoI">Correo electronico de institución</label>
              </div>
            </div>


            <div class="row">
              <div class="center">
                <button type="submit" class="btn waves-effect waves-green">Modificar</button>
                <button type="button" class="btn waves-effect waves-green" (click)="cancelar()">Cancelar</button>
              </div>
            </div>
          </form>
          <br>
          <!-- Mensajes -->
          <div class="row">
            <div class="red-text col s6 offset-s3" *ngIf="mensajeError">
              <p>{{mensajeError}}</p>
            </div>
            <div class="green-text col s6 offset-s3" *ngIf="mensajeCreacion">
              <p>Creando usuario ...</p>
            </div>
          </div>

        </div>

        <div *ngIf="!edicion" class="row">
          <div class="center">
            <button type="submit" class="btn waves-effect waves-green" (click)="habilitar()">Editar</button>
          </div>

          <div class="row">
            <table class="row-border hover col m4 offset-m4 s12">
              <thead>
                <th>Monto</th>
                <th>Fecha</th>
                <th></th>
              </thead>
              <tbody>
                <tr *ngFor="let donacion of donante.donaciones">
                  <td>{{donacion.monto}}</td>
                  <td>{{donacion.fecha}}</td>
                  <td><a [routerLink]="['/donaciones', donacion.id]" class="tooltipped" data-tooltip="donacion.id">Ver movimientos</a></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="row">
            <div class="center">
              <button type="submit" class="btn waves-effect waves-green" (click)="openDonacion()">Agregar donación</button>
            </div>
          </div>
        </div>


      </div>
      <!-- /card-panel-->
    </div>
    <!-- /col -->
  </div>
  <!-- row -->
</div>

<!-- Mensaje de espera -->
<ng-template #elseDonante>
  <div class="row">
    <div class="col s8 m8 offset-s2 offset-m2">
      <p>Cargando...</p>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
  </div>
</ng-template>


<!-- Ventana modal para agregar donación -->
<div class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalDonacion">
  <div class="modal-content">
    <h5>Agregar donación</h5>
    <br>

    <form autocomplete="off" #donacionForm="ngForm" (ngSubmit)="agregar(donacionForm)">
      <!-- Cantidad -->
      <div class="input-field">
        <input id="cantidad" name="cantidad" type="number" class="validate" min="0" [(ngModel)]="donacionNueva.monto" required>
        <label class="active" for="cantidad" data-error="Valor mayor a 0">Cantidad</label>
      </div>
      <div class="row">
        <div class="center">
          <button type="submit" class="btn waves-effect waves-green">Guardar</button>
        </div>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn-flat" (click)="closeDonacion()">Cerrar</a>
  </div>
</div>
