<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel">
      <table class="row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>DUI</th>
            <th>Telefono</th>
            <th>Cargo</th>
            <th>Institucion</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <!-- Mensaje de carga -->
          <div>
            <p><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>Cargando datos...</p>
          </div>
          <tr *ngFor="let donante of donantes">
            <td><a [routerLink]="'/donantes/'+donante.id">{{donante.nombre}} {{donante.apellido}}</a></td>
            <td>{{donante.dui}}</td>
            <td>{{donante.telefono}}</td>
            <td>{{donante.cargo}}</td>
            <td><span *ngIf="donante.institucion">{{donante.institucion.nombre}}</span></td>
            <td>{{donante.estado}}</td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="center">
          <a class="btn waves-effect waves-green" routerLink="/donantes/nuevo">Nuevo</a>
        </div>
      </div>
    </div>
    <!-- /card-panel -->
  </div>
  <!-- /col -->
</div>
<!-- row -->
