/*Elementos generales*/
body {
  background-color: #f7f7f7;
}

.btn {
  background-color: #309abb;
}

ul{
  margin-top: 0px;
}

a{
  cursor: pointer;
}

/* Para el navbar */

/* Pone el side-nav abajo del navbar */
#slide-out:first-child{
  margin-top: 65px;
}

/* 993px es lo que Materialize considera tamaño "large", el tamaño donde oculta el side-nav y mostrará el toogle */
@media (min-width: 993px){
  .component {
    padding-left: 300px;
  }
}

#slide-out li.active{
  background-color: #a9ec1b;
}

#slide-out li.active a, #slide-out li.active i{
  color: #000;
}

/* Cards */
.card, .card-panel {
  margin: 0 50px 0 50px;
}

.card .card-action a {
  color: #0781bb !important;
}

/* Cambiar el color de los placeholder en chrome, opera y firefoz*/
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #000000 !important;
  opacity: 1 !important;
}

::-moz-placeholder{
  /* Firefox 19+ */
  color: #000000 !important;
  opacity: 1 !important;
}
