<!-- Side nav -->
<ul id="slide-out" class="side-nav fixed">
  <li *ngIf="rol=='Administrador'">
    <a routerLink="/usuarios">Usuarios</a>
  </li>
  <li *ngIf="rol=='Presupuestador'">
    <a routerLink="/presupuestos">Presupuestos</a>
  </li>
  <li *ngIf="rol=='Administrador'">
    <a routerLink="/programas">Programas</a>
  </li>
</ul>
<!-- /Side nav -->

<!-- Espacio para los componentes -->
<div class="component">
<br>
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <h1>Ciudad de la Niñez y Adolescencia</h1>
      </div>
      <!-- /card-panel -->
    </div>
    <!-- /col -->
  </div>
  <!-- row -->

</div>
