<!-- <div [hidden]="!presupuesto"> -->
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <div class="row">
          <div class="col s12 m10 offset-m1">
            <h5><strong>Prespuesto para el programa {{presupuesto.programa.nombre}}</strong></h5>
            <h6>Fecha de la última modificación {{presupuesto.fecha | date:"dd/MM/y"}}</h6>
            <br>
            <!-- <table id="itemsTable" class="row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"> -->
            <table class="row-border hover">
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Cantidad</th>
                  <th>Subtotal</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of presupuesto.items">
                  <td>{{item.gasto.nombre}}</td>
                  <td>{{item.cantidad}}</td>
                  <td>{{item.subtotal}}</td>
                  <td>
                    <a class="accion" (click)="openItemEdit(item)"><i class="fa fa-pencil-square-o fa-2x"></i></a>
                    <a class="accion" (click)="eliminar(item)"><i class="fa fa-trash fa-2x"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="center">
                <a class="btn waves-effect waves-green left" (click)="openItem()">Agregar item</a>
              </div>
            </div>
            <div class="row">
              <div class="right light-blue-text">
                <h5><strong>Total: </strong>${{presupuesto.total}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /card-panel-->
    </div>
    <!-- /col -->
  </div>
  <!-- row -->
<!-- </div> -->

<!-- Ventana modal para agregar gasto -->
<div class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalItem">
  <div class="modal-content">
    <h5>Agregar gasto</h5>
    <br>

    <form autocomplete="off" #itemsForm="ngForm" (ngSubmit)="agregarItem(itemsForm)">
      <!-- Concepto de gasto -->
      <div class="row">
        <label>En concepto de </label>
        <select class="browser-default" name="gasto" [(ngModel)]="itemNuevo.gasto.id" (change)="verGasto(itemNuevo.gasto.id)" required>
          <option *ngFor="let gasto of gastos" [value]="gasto.id">{{gasto.nombre}}</option>
        </select>
      </div>

      <!-- Cantidad -->
      <div class="input-field">
        <input id="cantidad" name="cantidad" type="number" class="validate" min="0" [(ngModel)]="itemNuevo.cantidad" (change)="verSubtotal()" required>
        <label for="cantidad" data-error="Valor mayor a 0">Cantidad</label>
      </div>
      <div  class="row">
        <p *ngIf="itemNuevo.gasto" class="left"><strong>Precio unitario: </strong>{{itemNuevo.gasto.precio}}</p>
        <p *ngIf="itemNuevo.subtotal" class="right"><strong>Subtotal: </strong>{{itemNuevo.subtotal}}</p>
      </div>
      <div class="row">
        <div class="center">
          <button type="submit" class="btn waves-effect waves-green">Guardar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn-flat" (click)="closeItem()">Cerrar</a>
  </div>
</div>

<!-- Ventana modal para actualizar gasto -->
<div class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalItemEdit">
  <div class="modal-content">
    <h5>Actualizar gasto</h5>
    <br>

    <form autocomplete="off" #itemForm="ngForm" (ngSubmit)="actualizarItem(itemForm)">
      <p><strong>Precio individual: </strong>${{itemEdit.gasto.precio}}</p>
      <div class="row">
        <!-- Cantidad -->
        <div class="input-field">
          <input id="cantidad" name="cantidad" type="number" class="validate" min="0" [(ngModel)]="itemEdit.cantidad" (change)="verSubTotal(itemEdit)" required>
          <label class="active" for="cantidad" data-error="Valor mayor a 0">Cantidad</label>
        </div>
      </div>
      <div class="row">
        <div class="center">
          <strong>Subtotal: </strong>${{itemEdit.subtotal}}
        </div>
      </div>
      <div class="row">
        <div class="center">
          <button type="submit" class="btn waves-effect waves-green">Guardar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn-flat" (click)="closeItemEdit()">Cerrar</a>
  </div>
</div>
