<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel">
      <h5>Nuevo presupuesto </h5>
      <h6>{{presupuesto.fecha | date:"dd/MM/y"}}</h6>
      <br>
      <div class="row">
        <strong class="col m8 offset-m2 s12">Seleccione el programa para el cual desea crear el presupuesto: </strong>
      </div>
      <div class="row">
        <!-- Programa -->
        <div class="input-field col m8 offset-m2 s12">
          <select class="browser-default" name="programas" [(ngModel)]="presupuesto.programa.id" (change)="selectPrograma(presupuesto.programa.id)" required>
            <option *ngFor="let programa of programas" [value]="programa.id">{{programa.nombre}}</option>
          </select>
        </div>
        <div class="col m8 offset-m2 s12" *ngIf="presupuesto.programa.duracion">
          <strong>Duración: </strong>{{presupuesto.programa.duracion}} meses.
        </div>
      </div>

      <div class="row">
        <div class="center">
          <button type="submit" class="btn waves-effect waves-green" (click)="guardar()">Guardar</button>
          <button type="button" class="btn waves-effect waves-green" (click)="openCancel()">Cancelar</button>
        </div>
      </div>

    </div>
    <!-- /card-panel -->
  </div>
  <!-- /col -->
</div>
<!-- row -->


<!-- Ventana modal para asegurar la acción de cancelar -->
<div id="modal" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalCancel">
  <div class="modal-content">
    <h4>Confirmar operación</h4>
    <p>¿Desea cancelar la creación del presupuesto?</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeCancel()">No</a>
    <a class="modal-action modal-close waves-effect btn-flat" (click)="cancel()">Sí</a>
  </div>
</div>
