<!-- Side nav -->
<ul id="slide-out" class="side-nav fixed">
  <li class="active">
    <a routerLink="/presupuestos">Presupuestos</a>
  </li>

</ul>
<!-- /Side nav -->

<!-- Espacio para los componentes -->
<div class="component">
  <div>
    <h5 class="center-align">Presupuestos</h5>
  </div>
  <router-outlet></router-outlet>
</div>
