<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel">
      <div class="row">
        <div class="col m8 offset-m2">
          <table class="row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th>Programa</th>
                <th>Fecha de actualización</th>
                <th>Monto</th>
              </tr>
            </thead>
            <tbody>
              <!-- Mensaje de carga -->
              <div>
                <p><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>Cargando datos...</p>
              </div>

              <tr *ngFor="let presupuesto of presupuestos">
                <td>{{presupuesto.programa.nombre}}</td>
                <td><a [routerLink]="'/presupuestos/'+presupuesto.id">{{presupuesto.fecha | date:"dd/MM/y"}}</a></td>
                <td>{{presupuesto.total}}</td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="center">
              <a type="submit" class="btn waves-effect waves-green" [routerLink]="'/presupuestos/nuevo'">Nuevo</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- /card-panel -->
  </div>
  <!-- /col -->
</div>
<!-- row -->
